ng-view {
  width: 80%;
  padding: 3rem;
  padding-top: 1rem;
}
md-grid-tile {
  border: 1px solid black;
  overflow: hidden;
  img {
    width: 50px;
    height: 50px;
  }
}
md-card {
  // max-height: 250px;
  // min-height: 250px;

  md-card-content {
    overflow: hidden;
    // padding: 4px;
  }

  md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
}


// .content {
//   margin-left: 28%;
// }

// .art-items {
//   .results {
//   padding: 10px;
//   width: 350px;
//   height: 500px;
//   float: right;
//   background: rgb(226, 226, 226);
//   border: 1px solid rgb(180, 180, 193);
//   border-radius: 10px;
//   box-shadow: 5px 2px 5px rgb(144, 152, 164);
//   margin: 1%;
//   overflow: hidden;
//   }
// }
