ss-navbar {
  z-index: 5;
}
md-toolbar.md-default-theme {
background-color: rgb(137, 139, 148);
color: rgba(255,255,255,0.87);
}

// md-toolbar {
//   box-sizing: border-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-flex-direction: column;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   position: relative;
//   z-index: 2;
//   font-size: 2rem;
//   min-height: 64px;
//   width: 100%;
// }
// md-toolbar-tools {
// font-weight: 400;
// display: -webkit-flex;
// display: -ms-flexbox;
// display: flex;
// -webkit-align-items: center;
// -ms-flex-align: center;
// align-items: center;
// -webkit-flex-direction: row;
// -ms-flex-direction: row;
// flex-direction: row;
// width: 100%;
// height: 64px;
// max-height: 64px;
// padding: 0 16px;
// margin: 0;
// }
