<p>This is the about view.</p>

<!--
curl -X GET 'https://api.collection.cooperhewitt.org/rest/?method=cooperhewitt.colors.palettes.getInfo&access_token=bed285fe62e08707962a655f145ab02b&palette=#000080' -->

<!-- Get Random !
 --><!--
curl -X GET 'https://api.collection.cooperhewitt.org/rest/?method=cooperhewitt.objects.getRandom&access_token=a14abd70426ff6131a2fb3801483bcf1' -->

<!-- TYPE -->
<!-- Drawing
There are 42,316 objects of this type which represents about 27.56% of our online collection.
Print
There are 28,372 objects of this type which represents about 18.48% of our online collection.
textile
There are 6,450 objects of this type which represents about 4.20% of our online collection.
Matchsafe
There are 4,267 objects of this type which represents about 2.78% of our online collection.
Sidewall
There are 4,030 objects of this type which represents about 2.62% of our online collection.
Fragment -->

<!-- PERIOD -->
<!-- Hudson River School
There are 1,088 objects made around this time which is about 0.71% of our online collection
Neoclassical
There are 917 objects made around this time which is about 0.60% of our online collection
American Modern
There are 536 objects made around this time which is about 0.35% of our online collection
Wiener Werkstätte
There are 437 objects made around this time which is about 0.28% of our online collection
early Modern
There are 328 objects made around this time which is about 0.21% of our online collection
Art Deco
There are 300 objects made around this time which is about 0.20% of our online collection
Rococo
There are 220 objects made around this time which is about 0.14% of our online collection
Baroque
There are 162 objects made around this time which is about 0.11% of our online collection
postwar
There are 159 objects made around this time which is about 0.10% of our online collection
Civil War -->
<!--
Cooper Hewitt, Smithsonian Design Museum is the only museum in the nation devoted exclusively to historic and contemporary design. -->
