
<div ng-controller="CooperHewittController">
  <form novalidate class="form art-form" name="artForm">
  <h1>Object Search</h1>
  <label>Title:</label> <input type="text" ng-model="artObject.title" /><br/>
    <label>Period:</label> <input type="text" ng-model="artObject.period" /><br/>
    <label>Color:</label> <input type="text" ng-model="artObject.color" /><br/>
    <label>Medium:</label> <input type="text" ng-model="artObject.medium" /><br/>
    <label>Type:</label> <input type="text" ng-model="artObject.type" /><br/>
    <a ng-href="#/object-search" ng-click="search(artObject)">Search!</a>
<!--     <input type="submit" ng-click="search(artObject) ; $('results').empty()" value="Search!" />
 -->  </form>
</div>
