<section>
  <header id="header" class="">
    <h1>All da arts</h1>
  </header><!-- /header -->

  <article ng-repeat="item in cooperHewittController.artObjects">
    <h2>{{item.id}}</h2>
    <p>{{item.description}}</p>
<!--     <h2>{{item.images[0].b.url}}</h2> -->
    <a href=""><img src="{{item.images[0].sq.url}}" alt="Missing IMG">
    <!-- <img src="https://images.collection.cooperhewitt.org/46660_bc1ecb1628392915_b.jpg"></img> -->
    <!-- <p>{{artObject.url}}</p> -->
    <!-- <button ng-click='add to rails'>add to your user</button> -->


  </article>
</section>
