<h1>Your Desk, Your timelines</h1>
<h4>Timeline List</h4>
<div ng-controller="TimelinesController as timelinesController">
  <md-grid-list md-cols-sm="1" md-cols-md="4" md-cols-gt-md="4" md-row-height-gt-md="3:5" md-row-height="4:2" md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile class="black" md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-repeat="timeline in timelinesController.timelines">
      <md-grid-tile-footer>
        <h4 ng-click="timelinesController.activateTimeline(timeline)" ><a class="md-button" href="#/timelines/{{timeline.id}}">{{ timeline.title }}<a></h3>
        <!-- <p>{{ timeline.description }}</p> -->
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
