
<div ng-controller="LoginController as loginController">
  <md-content layout-padding class="md-whiteframe-z2">
    <form layout-padding class="login-form md-whiteframe-z1" name="loginForm" ng-submit="loginController.login(loginController.credentials)" novalidate>
      <h2>SignIn</h2>
      <md-input-container md-no-float>
        <input id="username" type="text" name="username" ng-model="loginController.credentials.username" required>
        <label id="username-label" for="username">Username</label>
      </md-input-container>
      <md-input-container md-no-float>
        <input id="password" type="password" name="password" ng-model="loginController.credentials.password" required>
        <label id="password-label" for="password">Password</label>
      </md-input-container>
      <md-button type="submit" class="md-raised md-no-ink" ng-disabled="loginform.$invalid" value="Login">Login</md-button>
            <md-button type="reset" ng-click="timelinesController.cancel()">Clear</md-button>

    </form>
  </md-content>
  <md-content layout-padding>

    <form layout-padding class="new-user-form md-whiteframe-z1" name="newUserForm" ng-submit="loginController.newUser(loginController.user)">
      <h2>New User SignUp</h2>
      <md-input-container md-no-float>
        <label>Username</label>
        <input type="text" class="form-control" ng-model="loginController.user.username">
      </md-input-container>
      <md-input-container md-no-float>
        <label>Password</label>
        <input type="password" class="form-control" ng-model="loginController.user.password_digest">
      </md-input-container>
      <md-button type="submit" class="md-raised md-no-ink" ng-disabled="loginform.$invalid" value="Login">SignUp</md-button>
      <md-button type="reset" ng-click="timelinesController.cancel()">Clear</md-button>
    </form>
  </md-content>
</div>
