<nav class="navbar">
  <header>SoapStone</header>
  <ul>
    <li><a href="#/" title="">Desk</a></li>
    <li ng-if="!navbarController.isLoggedin()"><a ng-href="#/login" title="">Login</a></li>
    <li ng-if="navbarController.isLoggedin()"><a href="javascript:void(0)" ng-click="navbarController.logout()">Logout</a></li>
<!--     <li ng-if="navbarController.isLoggedin()"><a ng-href="#/posts" title="">My Posts</a></li>
    <li nf-if="navbarController.isLoggedin()"><a ng-href="#/timelines">My Timelines</a></li> -->
    <li nf-if="navbarController.isLoggedin()"><a ng-href="#/timeline-show">Active Timeline</a></li>
  </ul>
  <!-- <active-timelines></active-timelines> -->
</nav>
