<!-- <div ng-controller="NavbarController" layout="column" style=""> -->
  <!-- <section layout="row" flex> -->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-locked-open md-closed" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-default-theme">
        <h1 class="md-toolbar-tools">SoapStone</h1>
      </md-toolbar>
      <md-content flex role="navigation" layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Me
        </md-button>
        <active-timelines></active-timelines>
        <ss-timelines></ss-timelines>
        <art-form></art-form>

      </md-content>
    </md-sidenav>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test note</label>
            <input type="text" id="testInput"
                   ng-model="data" md-sidenav-focus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Me
        </md-button>
      </md-content>
    </md-sidenav>
  <!-- </section> -->
<!-- </div> -->
